* {
  font-family: Helvetica;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  margin: 0px;
}

#city-temperature {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center center;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}

#current-city {
  font-family: Helvetica;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  border: 50px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-image: url("img/jazzy_scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 120px;
  margin-right: auto;
  margin-top: 50;
  text-shadow: 2px 2px  #080705;
}


section {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center center;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}

p {
  font-size: 30px;
    text-shadow: 2px 2px  #080705;
}

#powerSave {
  font-size: 30px;
  text-shadow: 2px 2px  #080705;
}
button {
  font-weight: 900;
  background-color: #00000012;
  border-radius: 10px;
  font-size: 30px;
}

#temperature-down, #temperature-up {
  width: 70px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 30px;
  box-shadow: 5px 5px #080705;
  margin-bottom: 25px;
}

#temperature-reset, #togglePowerSave {
  position: relative;
  top: 10%;
  left: 40%
  padding: 10px;
  width: 200px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 30px;
  box-shadow: 5px 5px #080705;
  margin-bottom: 25px;
}



.low-usage {
  color: rgb(236, 249, 223);
}

.medium-usage {
  color: white;
}

.high-usage {
  color: rgb(255, 175, 173);

}
